.s1{
    text-align: center;
    font-size: 80px;
    text-shadow: 5px 5px 5px;
}

.s2{
    text-align: center;
    font-size: 80px;
    text-shadow: -5px 5px 5px blue;
}


.s3{
    text-align: center;
    font-size: 80px;
    text-shadow: 5px -5px 5px rgb(124, 94, 94);
}

.box{
    width: 300px;;
    height: 300px;
    margin: auto;
    text-align: center;
    border: 3px solid rgb(136, 54, 54,0.5) ;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;

}
